<%- include("header"); -%>
<div class="box">
    <p>Hi, My name is <strong>Tomi Prasetyo</strong></p>
    <br>
    <p>I'm a web developer and machine learning engineer</p>
    <br>
    <p>I'm 28 years old and i'm very interest in new technology</p>
</div>
<%- include("footer"); -%>